<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Posts</h1>
    <div class="row">
      <% @posts.each do |post| %>
        <ul class="col-xs-12 col-md-5 post">
            <li class="aaa">Name:<%= post.user.name %></li>
            <li class="aaa">Title:<%= post.title %></li>
            <li class="aaa">Content:<%= post.content %></li>
            <li class="aaa">Image:<%= image_tag post.image.url.to_s %></li>

            <li><%= link_to 'Show', post, class: 'btn btn-default' %></li>
            <% if logged_in? %>
              <li><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info'  %></li>
              <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },  class: 'btn btn-danger' %></li>
              <% end %>
        </ul>
      <% end %>
    </div>
</div>
