<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="wrapper">
   <header class="header">
    <p><%= link_to 'Facebook', posts_path %></p>
    <ul>
     <% if logged_in? %>
        <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "Profile", user_path(current_user.id) %></li>
        <li><%= link_to 'New Post', new_post_path %></li>
      <% else %>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to "Login", new_session_path %></li>
      <% end %>
    </ul>
  </header>

  <content class="content">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </content>

  <footer class="footer">
    <p>Facebook clone</p>
  </footer>

  </body>
</html>
